* {
    margin: 0;
    padding: 0;
   
}

.startscherm button {
    position: absolute;
    color: white;
    font-size: 2em;
    background-color: palevioletred;
    padding: 1em;
    border-radius: 3em;
    z-index: 2;
    margin: 11em 17em;
    
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 15px black;
    border: none;

      /* top: 30%; */
      /* align-items: center; */
    /* margin-left: 16.5em;
    margin-top: 6em; */
}

.startscherm button :hover {
    background-color: red;
}

.startscherm h1 {
   z-index: 3;
   position: fixed;
   margin-top: 1em;
   margin-left: 11em;
   font-size: 3em;
   color: white;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.startscherm p {
   z-index: 3;
   position: fixed;
   margin: 11em 28em;
   font-size: larger;
   color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.startscherm img {
width: 10em;
}







.bak-img{
    width: 16em;
    margin-left: 80.5em;
    margin-top: 14.5em;
    z-index: 3;
}

/* div {
    display: flex;
    text-align: center;
   
} */


/* .ingredients ul{
    size: 1em;
    margin-left: 4em;
    position: absolute;
    display: flex;
    flex-direction: column;
} */

.instructions {
    position: absolute;
    z-index: 2;
    color: white;
    left: 43%;
    top: 3%;
    text-align: center;
    align-items: center;
    font-size:xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.timer {
    z-index: 2;
    position: absolute;
    top: 15%;
    left: 30%;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: palevioletred;
}



.geplaatste-ingredienten img {
    width: 37em;
    left: 29.5em;
    top: 11em;
}

.ingredients :nth-child(1) {
    width: 6em;
    left: 5.3%;
    top: 10%;
}

.ingredients :nth-child(2) {
    width: 6em;
    left: 5.3%;
    top: 23%;
}

.ingredients :nth-child(3) {
    width: 6.5em;
    left: 5.3%;
    top: 40%;
}

.ingredients :nth-child(4) {
    width: 6em;
    left: 5.3%;
    top: 56%;
}

.ingredients :nth-child(5) {
    width: 6em;
    left: 5.3%;
    top: 79%;
}

.geplaatste-ingredienten img {
    width: 37em;
    left: 29.5em;
    top: 11em;
}




/* 
/* .button {
    position: absolute;
    color: white;
    font-size: 2em;
    top: 20%;
    background-color: pink;
    padding: 1em;
    border-radius: 3em;
    border-color: palevioletred;
    z-index: 2;
    align-items: center;
    margin-left: 16.5em;
    margin-top: 5em;
} */ 

