* {
    margin: 0;
    padding: 0;
   
}



a :hover {
color: lightpink;
}


a {
    text-decoration: none;
    color: white;
    position: absolute;
    font-size: 2em;
    background-color: palevioletred;
    padding: 1em;
    border-radius: 3em;
    z-index: 2;
    margin: 11em 17em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 15px black;
    border: none;
}

#startButton  :hover {
    background-color: rgb(230, 142, 185);
    }

.startscherm h1 {
   z-index: 3;
   position: fixed;
   margin-top: 1em;
   margin-left: 11em;
   font-size: 3em;
   color: rgb(255, 255, 255);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.startscherm p {
   z-index: 3;
   position: fixed;
   margin: 11em 28em;
   font-size: large;
   color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
}

img {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.startscherm img {
width: 10em;
}



.bak-img{
    width: 16em;
    margin-left: 80.5em;
    margin-top: 14.5em;
    z-index: 3;
}



.instructions {
    position: absolute;
    width: 100vw;
    text-align: center;
    z-index: 2;
    color: rgb(17, 134, 130);
    top: 3%;
    font-size:xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-self: center;
}

.timer {
    z-index: 2;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: palevioletred;
}


.geplaatste-ingredienten img {
    z-index: 3;
    width: 37em;
    left: 29.5em;
    top: 11em;
}

.ingredients :nth-child(1) {
    width: 6em;
    left: 5.3%;
    top: 10%;
}

.ingredients :nth-child(2) {
    width: 6em;
    left: 5.3%;
    top: 23%;
}

.ingredients :nth-child(3) {
    width: 6.5em;
    left: 5.3%;
    top: 40%;
}

.ingredients :nth-child(4) {
    width: 6em;
    left: 5.3%;
    top: 56%;
}

.ingredients :nth-child(5) {
    width: 6em;
    left: 5.3%;
    top: 79%;
}

.geplaatste-ingredienten img {
    width: 37em;
    left: 29.5em;
    top: 11em;
}


